[2017-06-14 11:02] aeirola opened #2 "Mirror react-intl API"
First, thanks for creating this package! I've been looking for something similar ever since I started using `react-intl`.

As the documentation suggests this package as an replacement to `react-intl`, it would be really nice if it would provide the same [API](https://github.com/yahoo/react-intl/wiki/API) as the injected `intl` object.

So instead of formatting a message with

[code]

it would use

[2017-06-14 11:08] cwtuan commented on #2
@aeirola That's good idea. I will implement it recently.

[2017-06-16 05:06] cwtuan opened #4 "Shorten defaultMessage method"
[code]

Add Alias:
[code]

[2017-06-18 15:13] #2 closed

[2017-06-18 15:15] #4 closed

[2017-06-21 05:58] Ctonys opened #6 "Whether to support the react native?"

[2017-06-21 20:47] ArsSirek opened #7 "extract-intl / defineMessages"
Hi, thanks for sharing this package!

Sorry, if I missed something, but is there, or will there be a way to extract a messages and build a translation.json  files?

I mean something like what [react-boilerplate](https://github.com/react-boilerplate/react-boilerplate) do with command extract-intl ? Or what is recommendations to generate the files?

I may be wrong, but I checked the code and, it see

[2017-06-22 11:21] ArsSirek commented on #7
Hi here again!
I was able to successfully switch to your project from react-intl! thanks! (with few things to be aware, though)

It turns out that we actually can use  [babel-plugin-react-intl](https://github.com/yahoo/babel-plugin-react-intl) and logic with defineMessages with this react-intl-universal as well, the only problem I faced was with the fact that there is no defineMessages function he

[2017-06-22 15:49] cwtuan commented on #7
Thanks for the suggestion.

Actually, I'm also researching if there's better way to extract messages. I hadn't use `extract-intl` before. But I will try your example first these days then fulfill this feature.

By the way, could you please tell me what's "few things to be aware" you mentioned?

[2017-06-22 16:50] ArsSirek commented on #7
@cwtuan, thanks,
sure, I thought, to list them, but then thought, that I could have missed something... (correct me, please, if I am wrong somewhere with this)
1) in react-intl-universal the work with date and datetime just differ, there is no FormattedTime, FormattedDate. And no stright way to use react-intl-universal to render formatted time without adding a line in translation.json . In my case

[2017-06-25 14:39] cwtuan commented on #7
@ArsSirek Thanks for your comment. It really help me a lot to improve this project. I will take your suggestions into consideration in next release.

[2017-06-30 17:14] ArsSirek opened #8 "should variables apply when defaultMessage is used?"
Hi,
Not sure if it is a bug, but with my usage of extract-intl, I had a case, when the locale message was actually an empty string, so we passed [this null check](https://github.com/alibaba/react-intl-universal/blob/master/src/index.js#L49) variables had no effect, and the defaultMessage is shown in the end with {variable} as in "locale.json".

I don't know what is a right thing to do, but it seem

[2017-07-01 17:18] theasia-Ashish opened #9 "ReferenceError: window is not defined (SSR)"
Didn't work with server side rendering.

[2017-07-02 01:59] cwtuan commented on #8
Could you show the detail of this case? How do you use `defaultMessage` method?

[2017-07-02 01:59] cwtuan commented on #9
Will fix it in next release.

[2017-07-02 11:31] ArsSirek commented on #8
Hi, I wrote an example showing my usage, wasn't sure how to provide it, so I  forked and added it here in examples folder #10

And there is a [branch](https://github.com/ArsSirek/react-intl-universal/tree/notCompleteTranslation/examples/with-define-messages) on that fork, that shows a problem I mentioned in this issue
to reproduce you can,
- switch to that branch, npm i
- npm run extract-intl (tha

[2017-07-02 13:38] cwtuan opened #11 "Error message for variables not assigned"
If variables in locale file are defined but not assigned in JS, the warning message isn't accurate currently.

[2017-07-04 03:13] cwtuan commented on #6
This feature is not yet implemented. Thanks for suggestion and I will consider it.

[2017-07-04 03:56] Ctonys commented on #6
I am waiting for. @cwtuan

[2017-07-09 07:13] #9 closed

[2017-07-09 07:13] #11 closed

[2017-07-09 07:19] cwtuan commented on #9
@theasia-Ashish SSR is supported in 1.2.1.

Please refer to https://github.com/alibaba/react-intl-universal/tree/master/examples/node-js-example for example.

[2017-07-12 02:20] lzsheng opened #13 "urlLocaleKey - problem"
[code]
i use react-router hashHistory
url-example-A(standard):  `http://www.xxx.com/index.html?lang=en#/test`
url-example-B(non-standard):  `http://www.xxx.com/index.html#/test?lang=en`

url-example-A：
[code]

url-example-B：
[code]

urlLocaleKey only stand by standard-URL ，can u stand by non-standard-URL like "http://www.xxx.com/index.html#/test?lang=en"

[2017-07-12 02:44] cwtuan commented on #13
@lzsheng Yes, it's good idea. Will be implemented in next release.

[2017-07-12 03:11] cwtuan opened #14 "Who's using react-intl-universal?"
Hi folks,
I'm the author of `react-intl-universal`, I would like to collect a list of company using this library.
Please reply as the following format:
[code]

Thanks!

[2017-07-14 10:34] lzsheng opened #15 "version 1.2.0 - npm run build - slowly！！！"
### 从1.1.1版本升级至1.2.0版本后
运行官方browser-example的代码，执行npm start是很快的，但是在执行npm run build的时候，大概要构建2-3分钟。

在我自己的项目中（使用v1.1.1版本，构建时间大概是45s），但是升级了v1.2.0后等待超过10分钟依然不能构建成功！！！但是换回 v1.1.1 版本后，却能正常构建

请尽快解决这个问题～～辛苦啦

[2017-07-14 10:35] lzsheng commented on #15
运行官方的browser-example，把版本降为1.1.1，速度明显比v1.2.0快很多！

[2017-07-15 02:42] cwtuan commented on #15
what's your node version and OS?

[2017-07-15 06:27] cwtuan commented on #15
Building `browser-example` consumes about 140s in both of v1.1.1 and v1.2 in my computer (Mac air, node v6.11.0)

[2017-07-16 06:34] lzsheng commented on #15
nonde:7.2.1
macOS:10.12.4 (mbp 2016)

[2017-07-16 06:42] lzsheng commented on #15
v1.2.0: building browser-example consumes about 114s
v1.1.1: building browser-example consumes about 12s

[2017-07-16 07:01] cwtuan commented on #15
Currently, you could use v1.1 if you only need browser rendering.
v1.2 supports server rendering.

[2017-07-16 07:06] lzsheng commented on #15
ok,thx!

[2017-07-17 02:52] lany9527 opened #16 "react-intl-universal build failed with create-react-app"
我按照例子配置了我的项目，发现build很久，大概5min以上，到最后失败了：报错如下：
`
yarn build
yarn build v0.27.5
$ node scripts/build.js
Creating an optimized production build...

<--- Last few GCs --->

[15101:0x2ae6680]   333362 ms: Mark-sweep 1401.1 (1522.6) -> 1401.1 (1521.6) MB, 884.7 / 0.0 ms  (+ 0.0 ms in 0 steps since start of marking, biggest step 0.0 ms, walltime since start of marking 885 ms) last resort
[15101:0x2ae6680]

[2017-07-17 03:11] cwtuan commented on #16
could you show more detail about your build config?

[2017-07-17 04:12] lany9527 commented on #16
@cwtuan 你好，我用的是create-react-app生成的项目，然后按照例子配置的，没有什么build config。你能说的详细点吗，或者是我哪里理解错了

[2017-07-17 04:56] cwtuan commented on #16
what's your node version

[2017-07-17 06:36] lany9527 commented on #16
@cwtuan
 #  version:
## node -v:
v7.10.0
## create-react-app --version :
1.3.3

thank you

[2017-07-17 09:55] cwtuan commented on #16
@lany9527
I got the same error when using `create-react-app`, but `react-intl-universal` works fine with `webpack` in my project. I will fix this `create-react-app` issue in next release.

Currently, could you please use `webpack` as building tool?  `create-react-app` is suitable for demo project. For production product,  `webpack` is strongly recommended.

There are lots of react+webpack generato

[2017-07-17 16:01] lany9527 commented on #16
@cwtuan  谢谢你的耐心解答，我用create-react-app的时候eject了，然后在config的webpack的entry部分里面配置了多入口【我参考了这里：[(http://imshuai.com/create-react-app-multiple-entry-points/) ]】，但是我降低为v1.1.1版本之后，再删掉多入口的配置部分，就能够build了，因为项目比较紧，所以，还没时间深究到底发生了什么，才导致build错误。如果你知道了，请告诉我哦，谢谢啦。

[2017-07-19 07:53] aemoe opened #17 "Built result size is large"
感谢作者的组件~
发现个问题 在build时候构建出来的js非常大 应该是一些翻译的包 怎么去掉 不然打包完包太大 18MB左右
![image](https://user-images.githubusercontent.com/3195853/28356356-632360a0-6c2d-11e7-89a2-a3496eb19297.png)

[2017-07-20 03:29] aemoe commented on #17
I do not know why if I use react-intl-universal/lib/ js file is no problem,
but I import this packbag have some problem.

[2017-07-20 11:11] lzsheng opened #18 "Object.assign problem in android 4.4.2"
构建出来的lib包，并没有对 Object.assign 等进行转码，导致在android 4.4.2 版本的设备上，在执行 init 的时候报错（因为不支持Object.assign ）
现在我通过添加 babel-polyfill 垫片库，然后才能正常运行 react-intl-universal的init方法
希望在后续版本可以在打包的时候就加入类似Object.assign的兼容细节。麻烦了！

[2017-07-21 02:34] cwtuan commented on #17
Could you show more detail of your wekpack config?

[2017-07-21 04:12] aemoe commented on #17
@cwtuan
OK ~ This is my webpack config.

[code]

[2017-07-22 08:25] leonwgc opened #19 "webpack3.0打包 居然有18M"

[2017-07-22 14:57] cwtuan commented on #18
You can just include `//f.alicdn.com/es5-shim/4.5.7/es5-shim.min.js` and `http://f.alicdn.com/es6-shim/0.35.1/es6-shim.min.js` in your html to support older browser.

[2017-07-22 14:59] cwtuan commented on #19
Thanks for reporting this issue.
duplicate of #17. Close this.

[2017-07-22 15:00] #19 closed

[2017-07-23 12:32] aemoe commented on #17
@cwtuan 是呀 好奇怪 好像intal里面的local数据也被打包进去了 然后就突然特别大 不知道为什么好奇怪

[2017-07-24 07:34] cwtuan commented on #17
I had reproduced this issue in webpack 3. And working on solving it.

[2017-07-24 08:48] aemoe commented on #17
@cwtuan thank u very much～

[2017-07-25 01:16] feicong666 commented on #17
嗯，我也遇到了一样的问题，打包出来有20多M，删掉这个主键就正常了

[2017-07-25 09:30] aemoe commented on #17
@feicong666 麻烦问下是怎么解决的~

[2017-07-27 12:52] Jorer commented on #15
There is a significant size difference in the builds between 1.1.1 and 1.2.0.

My locale loading goes something like this:
[code]

Building the package:
v1.1.1:
File sizes after gzip:
  156.54 KB  build/static/js/main.588b5386.js
  2.21 KB    build/static/css/main.aa3bb3e1.css

v1.2.0:
File sizes after gzip:
  1003.92 KB (+847.34 KB)  build/static/js/main.5580900c.js
  2.21 KB                  bui

[2017-08-03 02:02] liuzhuonan commented on #17
The webpack decides whether to package a component based on dependencies. This should be the place to control the packaging of Locale-data (18M), but it does not work in webpack3.

  at intl/index.js

      // Require all locale data for `Intl`. This module will be
      // ignored when bundling for the browser with Browserify/Webpack.
      // require('./locale-data/complete.js');

[2017-08-04 06:04] liuzhuonan commented on #17
Here to determine isBrowser, in the case of false will quote lodale-data, comment out just fine.

at react-intl-universal/lib/index.js

           if (isBrowser) {
                  if (isPolyfill) {
                    load(SYS_LOCALE_DATA_URL + "/" + lang + ".js", function (err, script) {
                      if (err) {
                        reject(err);
                      } else {

[2017-08-04 13:51] hwwn commented on #16
我这边的项目也是 用 create-reat-app做的， 同样是build的时候先卡住，之后报了一样的错误提示

[2017-08-04 21:46] aemoe commented on #17
@liuzhuonan
The isBrowser option in Webpack 3.0 is does't work .
Thx~

[2017-08-08 01:29] dantzchan opened #20 "Support for nested JSON data?"
I am working on a big project, and there are a lot of pages.
I think it would be good to organize the locale data in json by nesting data.

[code]

[2017-08-09 05:22] cwtuan commented on #20
How do you like to get translated  value?
Something like `intl.get('page1.first_sentence')`?

[2017-08-13 13:06] lany9527 opened #23 "Switch to another language"
我最近按照你们提供的例子试了一下，在react组件里面定义全局变量，然后切换多语言发现不能够显示对应的语言：请问是不是不支持针对全局变量的多语言翻译。
代码简化如下：
` const title=`${intl.get('时间')}`；

 ` class Demo {
   render () {
      return (
        <h1>{title}</h1>
     )
   }
} `

在切换多语言的时候并不能够翻译title变量。求解

[2017-08-14 06:16] cwtuan commented on #23
When switching to another language, you need to call `intl.init(..)` to set the `currentLocale`, and then force render the component (i.e., reload page or `component.forceUpdate()`).

Please refer to https://github.com/alibaba/react-intl-universal/blob/master/examples/browser-example/src/App.js#L77-L86

[2017-08-14 06:28] #15 closed

[2017-08-14 06:55] cwtuan commented on #15
reopen #15 still not fixed

[2017-08-15 05:29] #23 closed

[2017-08-15 05:41] Slice-dd commented on #17
这个问题解决了么

[2017-08-15 05:46] cwtuan commented on #19
@leonwgc
Please upgrade to v1.3.4 to fix build issue.

[2017-08-15 05:46] cwtuan commented on #17
@aemoe @feicong666 @liuzhuonan @Slice-dd @zhuzhaoyuan
Please upgrade to v1.3.4 to fix build issue.

[2017-08-15 05:47] #17 closed

[2017-08-15 05:48] cwtuan commented on #16
@lany9527 @hwwn
Please upgrade to v1.3.4 to fix build issue.

[2017-08-15 05:48] #16 closed

[2017-08-21 09:10] buxuku opened #24 "压缩打包之后还是有360KB"
升级到了最新版本1.3.4，压缩打包出来的文件还是有360多KB。可以看到还是加载了八九个语言包文件，每个语言包压缩之后也会平均占用二十多KB。

![intl](https://user-images.githubusercontent.com/7866330/29511883-1d741a6a-8693-11e7-861b-523391ad4137.png)

![local](https://user-images.githubusercontent.com/7866330/29511873-14060948-8693-11e7-8010-576a88c89f04.png)

[2017-09-12 02:04] lany9527 opened #25 "How to use in /public/index.html"
hi:
How to use "react-intl-universal" in  /public/index.html to translate text in tag <title>some word</title>

[2017-09-12 05:01] cwtuan commented on #25
You can change html title in frontend.
[code]
Or render html in server side: https://github.com/alibaba/react-intl-universal/blob/master/examples/node-js-example/public/index.html

[2017-09-15 11:01] elgalesmana commented on #20
Any update for this 🤔

[2017-09-19 12:01] weinot commented on #24
@buxuku 这个图怎么生成的

[2017-09-20 01:44] buxuku commented on #24
@weinot

use [webpack-visualizer](https://chrisbateman.github.io/webpack-visualizer/)

[2017-09-25 04:26] #25 closed

[2017-09-25 05:12] cwtuan commented on #20
This feature is supported in v1.4.3.
Check the [Release note](https://github.com/alibaba/react-intl-universal/releases/tag/1.4.3).

[2017-09-25 05:13] #20 closed

[2017-09-25 05:27] #14 closed

[2017-09-25 16:52] rakeshmotghare opened #30 "Typescript declaration file"
Could you please provide a type definition file for this package. I am using typescript in my project and want to use this with the typescript.

[2017-10-16 03:16] peterpuppy commented on #24
同样的问题，生成出来有365KB，里面包含了很多语言包。

[2017-10-16 14:00] allanlundhansen commented on #6
Any updates on this @cwtuan ? currently considering which framework to choose

[2017-10-24 17:08] moos commented on #24
Same issue -- this plus poor documentation is a show-stopper for me.  Too bad as I liked the simple API!

[2017-11-02 19:04] iLeonelPerea opened #32 "The build is to big"
Hi..

I am using this implementation and works perfectly. But the problem that after do the build is that the dependency intl (react-intl-universal) consume a lot of space, look the image.

intl imports all the languages (close to 20 mb) and i only need two.

How I can limit the languages to require only the ones that I need.?

<img width="1574" alt="screen shot 2017-11-02 at 1 01 41 pm" src="http

[2017-11-03 03:49] cwtuan commented on #32
Do you use the latest version?

[2017-11-23 01:38] ClementLoridan opened #34 "Load translations from S3 amazon"
How to init with json file hosting in S3 amazon for dynamic translations ? Thk

[2017-11-23 03:39] cwtuan commented on #34
Please refer to https://github.com/alibaba/react-intl-universal/blob/master/examples/browser-example/src/App.js#L72-L88 for more detail about getting json file dynamically. If your file is hosting in S3, you could use jsonp instead.

[2017-11-23 12:59] ClementLoridan commented on #34
Thk, and it will work in server side rendering ?

[2017-11-23 21:54] tvarsis opened #36 "Question: Is it possible to send in format as a varible?"
Hi,

I'm trying to send in the currency code dynamically to work when switching currency in the system. Is it possible to use a variable for the format, or is the only way to hard code the language code in the translation file?
If it is possible, what is the syntax to use?
I have tried a lot of different approaches without success.

Thanks!

[2017-11-24 05:31] cwtuan commented on #36
Not yet support dynamic currency code. But thanks for the advice.

[2017-11-24 05:35] cwtuan commented on #34
react-intl-universal supports SSR. Please refer to https://github.com/alibaba/react-intl-universal/tree/master/examples/node-js-example.

[2017-11-24 09:26] tvarsis commented on #36
Ok, thanks!
I think that would be a very good feature to add since you want the currency to be able to follow the locale or be set individually in a system (different than locale).
Anyway, I'm closing this. Thanks!

[2017-12-04 20:11] ramapullareddyc opened #38 "Missing intl message replacement"
Can we add missing message replacement text like https://www.npmjs.com/package/format-message library?

It will help in finding missing messages through easily through automation.

Thanks a lot.

[2017-12-07 04:59] cwtuan commented on #38
react-intl-universal will show warning message if key doesn't exist. Is that what you want?

![image](https://user-images.githubusercontent.com/3455798/33699466-48d6e3bc-db4e-11e7-86a0-ec190f6701ea.png)

[2017-12-07 22:37] ramapullareddyc commented on #38
Yes, this should be sufficient as well for catching missing translations.
Thanks a lot.

[2017-12-07 22:37] #38 closed

[2017-12-12 13:11] #34 closed

[2017-12-12 13:31] #32 closed

[2017-12-28 05:03] cwtuan commented on #30
@rakeshmotghare https://github.com/alibaba/react-intl-universal/releases/tag/1.8.0

[2017-12-28 05:19] cwtuan opened #41 "Join us now! Frontend engineer in Alibaba group!"
## [阿里巴巴招聘] 资深前端工程师/专家

### 岗位描述
阿里云大数据前端团队（DTUX）主要负责阿里云大数据开发平台（数加），机器学习平台，图像、视频识别，数据可视化相关的业务； 加入我们将有机会参与人工智能，大数据，深度学习，机器学习成果的产品化过程以及相关的创新前端交互工程； 

1、关注用户体验，不断改进服务的易用性； 
2、不需要关注陈旧的浏览器的兼容性 
3、用最前沿的前端技术与算法团队一起探索未来多种平台的前端交互方式 
4、参与前端框架建设，并不断优化前端工具链 
5、改进协作流程，创建技术标准和规范； 
6、参与新人培训和前端技术布道。

### 岗位要求
1、2年以上开发经验，能熟练使用常见类库或框架，编写高质量的前端代码； 
2、熟练掌握 React 、Angular 、Vue 及相关框架和技术；
3、熟练掌握 CSS3 、HTML5 、ES6 、Gulp 、

[2017-12-28 15:22] kuy commented on #30
@cwtuan Is there any reason still unpublished?

[2017-12-29 05:23] cwtuan commented on #30
Please refer to https://github.com/alibaba/react-intl-universal/pull/42.

[2018-01-02 12:58] cwtuan commented on #30
published in  v1.8.4.

[2018-01-02 12:59] #30 closed

[2018-01-04 07:32] jovanliuc commented on #41
你好，我现在西安这边工作，西安这边在软件新城成立了西部总部，刚挂了logo, 还没有开始装修，弱弱问下，这边主要是**蚂蚁金服**，还是**菜鸟网络**？什么时候开始招人？有**大数据( Java )** 或者 **前端(React 、Angular 、Vue)** 相关的职位嘛？**谢谢！！！**

[2018-01-08 02:54] cwtuan commented on #41
@jovanliuc 西安那里不太清楚。我们在杭州、北京的前端职位

[2018-01-08 07:45] jovanliuc commented on #41
@cwtuan  恩，好的，谢谢你！！！

[2018-01-09 09:58] liuzhuonan opened #43 "How to get Locale-data without using cdn"
我们的项目不能不能使用外网，有没有什么办法把我想要的几种语言的locale-data放在本地进行访问。
  SYS_LOCALE_DATA_URL是不是加个容错比较好，如果无法访问那个网站则采用另一种方式

[2018-01-09 10:52] cwtuan commented on #43
Currently, you can write a script to scan your built file, and save external files to local disk.

[2018-01-10 08:26] liuzhuonan commented on #43
Thanks, I think I know how to do it.

[2018-01-10 08:26] #43 closed

[2018-01-12 07:28] cwtuan commented on #41
2019届校招实习生：http://g.alicdn.com/dtux-statics/dtux-statics/campus-recruiting-2018.html

[2018-01-25 23:30] spherop opened #45 "Is there a way to turn off warnings for non-defined keys?"
I am wondering if it's possible to turn off the browser console warnings for missing keys in a locale file?

eg in chrome console:

react-intl-universal key "ZIP_CODE" not defined in en-US
tracker.js:13 react-intl-universal key "REDEEM_PROMO_CODE" not defined in en-US
etc.

This is causing a lot of log pollution.

Thanks.

[2018-01-26 04:36] cwtuan commented on #45
why not just define a key to fix it?

[2018-01-27 01:18] spherop commented on #45
@cwtuan - good question - here's why:

Since the site is in English, and the developers speak English natively, made sense to write a little helper that creates the translations from the English text - and use the defaultMessage mechanism to fallback.

[code]

In render we have:

[code]

Thus `t('Thank you')` becomes `intl.get('THANK_YOU').defaultMessage('Thank you')`

Therefore, we don't need Eng

[2018-01-30 21:33] spherop commented on #45
This pr would resolve: #44

[2018-02-20 07:41] kabiragarwal opened #46 "how to load multiple JSON files instead of single JSON file of a single language"
Hi there,

Thanks for providing the react-intl-universal library. I have used it easily without any issue.

but currently language local data is not in a single file but on multiple JSON files in the local folder. so I have to load all the JSON files from the local folder and then display the data. I am considering only one language currently.

Thanks in advance.

[2018-03-24 07:51] Mrxdh opened #50 "https://g.alicdn.com/react-intl-universal/locale-data/1.0.0/zh.js"
我用了react-intl-universal 在发布完代码以后，总会自己加载这个js文件包，我想问一下这个js文件重要吗，可不可以有办法不加载？

[2018-03-26 08:31] cwtuan commented on #50
It's used for formatting date, num, currency, and etc.

[2018-03-26 08:31] #50 closed

[2018-03-26 08:37] cwtuan commented on #50
@Mrxdh 我们在招聘前端开发，有兴趣吗

[2018-04-02 17:22] musichen opened #51 "lang is not supported ru"
I've used react-intl-universal to fetch multiple languages:  de, en, fr, ja, ru, zh

When switching the lang, performing the re-init   intl.init()   into ru-RU
i've got a warning that RU is not supported, locale get loaded and works just fine.
I wonder why the warning.

Here is the log:

<img width="911" alt="screen shot 2018-04-02 at 19 16 20" src="https://user-images.githubusercontent.com/737742

[2018-04-03 02:53] cwtuan commented on #46
fixed in v 1.9.2.

[2018-04-03 02:53] #46 closed

[2018-04-03 02:54] cwtuan commented on #51
fixed in v1.9.2

[2018-04-03 03:08] #51 closed

[2018-04-05 07:23] MomoHong opened #53 "COMMON_LOCALE_DATA_URLS中支持了常用的国家如何扩展其他语言？"
150+languages是如何支持的？如何扩展其他语言？能否举个例子？

[2018-04-06 07:00] Panoplos opened #54 "Change the locale without reloading the app."
Is there a way to change the locale without forcing the entire app to reload? Setting the locale via the search parameter of the URL is causing the entire app to reload, which is conflicting with an update to the user's profile. It seems like this being a react solution, it should be reactive, but its current implementation imposes a bad experience on users, IMO.

[2018-04-08 17:36] musichen commented on #51
thanks for prompt actions on fixing this issue.

[2018-04-08 18:24] musichen opened #55 "documentation or at least a list of API functions"
Hello guys,
    was experimenting with your library 'react-intl-universal'  recently.
I feel totally blind in terms of documentation, there is not enough info in repo description.

@cwtuan could you please add at least a list of all functions available in API of 'react-intl-universal' ?

Or if you need any help writing one, i would like to help, in this case, @cwtuan please pm me
alex.musichen@gma

[2018-04-08 18:33] musichen commented on #51
on my side still not fixed.
I have updated react-intl-universal

![image](https://user-images.githubusercontent.com/7377421/38471040-f6f34d78-3b6b-11e8-81de-1cf716e12e41.png)

I still receive the warning of unsupported RU lang

![image](https://user-images.githubusercontent.com/7377421/38471047-0bea6ffe-3b6c-11e8-95b3-cb801b16225b.png)

@cwtuan could you please have a look at it again?

Thanks in

[2018-04-09 05:55] cwtuan commented on #51
@musichen
It works on my side.
What's your `currentLocale`? Could you log it?

[2018-04-09 05:56] cwtuan commented on #51
BTW, could you please provide your `ru-RU.json` to me?

[2018-04-10 16:14] cwtuan commented on #54
You could `forceUpdate` component after charging language.

[2018-04-10 22:01] musichen commented on #51
currentLocale: 'en-US'

my   ru-RU.json:

[code]

[2018-04-11 02:18] lizaminelli opened #56 "How to use the react-intl-universal lib in electron without network?"
1. In my project, I use electron, react, antd and react-intl-universal.
2. In electron, the typeof window !== "undefined", so the isBrowser is true.
3. If the the isBrowser is true, will add CDN locale data, but my app may be used without network.
so , is there a way to solve this problem?

[2018-04-16 01:09] alamchrstn opened #57 "Using general localization"
Will it impose to any issue if I use general locale (e.g. **en** instead of **en-US**) in my list of supported locales?

[2018-04-17 05:34] cwtuan commented on #57
It's ok if you use `en` instead of `en-US`.

[2018-04-17 05:35] #57 closed

[2018-04-17 11:51] lizaminelli opened #58 "Can you make the load of CLDR local data optional ?"
1. My electron app does not have network, it takes a few seconds to load the CLDR local data(timeout). Can you make the load of CLDR local data optional in the init (ReactIntlUniversalOptions.loadCLDRLocalData).

[2018-04-18 05:40] cwtuan commented on #56
How do I check if the environment is electron? Any suggestion?

[2018-04-18 08:35] lsiric commented on #46
Hi @cwtuan, thanks for the fix. Having language local data in multiple files is a great, and a must-have feature for any non-trivial application.

The issue I'm having is with the standard `Object.assign` function which is used in the `load` function implementation: it **overrides** existing defined locales.

Example:

`ComponentOne` has locales defined in the same folder, in the file `localesOne.

[2018-04-21 04:46] #56 closed

[2018-04-22 09:39] Panoplos commented on #8
Actually, variables are ignored in the case of using `intl.get('something', {foo}).d('something {foo} bar')`, so this seems like a bug. Kind of meaningless to have defaults, actually.

[2018-04-24 10:56] cwtuan commented on #8
@Panoplos
It should be `intl.get('something', {foo}).d('something ${foo} bar')`

[2018-04-26 03:12] Panoplos commented on #8
The documentation doesn't mention this.

<img width="906" alt="screen shot 2018-04-26 at 12 11 41" src="https://user-images.githubusercontent.com/2549985/39283823-16a75758-494b-11e8-9f9b-06565c363c96.png">

[2018-04-26 03:14] Panoplos commented on #8
Or rather, it does in the API section, but why is the default variable tag spec different from the locale data?

[2018-04-26 04:38] Panoplos commented on #45
I second this. During development, it is annoying to have so many warnings.

[2018-04-27 11:18] cwtuan commented on #8
@Panoplos
The defaultMesssage is now ES6 [Template literals](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals) format. And the locale file is [ICU](http://userguide.icu-project.org/formatparse/messages) format.

I will make this `intl.get('something', {foo}).d('something {foo} bar')` work, too, in next release.

[2018-05-11 08:06] Gpia opened #60 "如何能够动态切换当前的语言？"

[2018-05-13 13:07] cwtuan commented on #58
Electron app will not load CLDR local data now. Please upgrade to last version.

[2018-05-13 13:07] #58 closed

[2018-05-13 13:38] cwtuan commented on #45
Fixed v1.11.1.
https://github.com/alibaba/react-intl-universal/releases/tag/1.11.1

[2018-05-13 13:38] #45 closed

[2018-05-15 01:06] wuyechang commented on #60
重新调用一遍init(options)方法就行了吧

[2018-05-15 01:27] wuyechang opened #63 "能否让用户可以手动设置CLDR文件的CDN路径？"
现在的CLDR文件的CDN下载路径是直接硬编码的。这样一来就有这么几个问题：
1、有时候g.alicdn.com会非常慢，需要5秒钟以上才能完成文件下载，严重影响用户体验；
2、我们项目希望所有的相关文件都配置在自己的CDN服务器上；
3、很多客户的公司使用proxy来访问外部网络，未必会允许访问g.alicdn.com（我们的客户主要在海外，对于他们来说g.alicdn.com是非常陌生的）；
4、虽然可以手动修改src/index.js来解决上述问题，但是因为是硬编码，所以不得不将库文件直接复制到项目的repository里来修改，用自己的git来管理这个库的源代码，感觉很糟……

[2018-05-25 14:21] kspacja commented on #51
Hi,

I didn't wanted to create new issue, cause my is the same, but app, what I'm writing, has to support polish language.

Thanks in advanced

[2018-05-26 01:58] cwtuan commented on #51
@kspacja Try version 1.11.2.

[2018-06-04 09:23] lyqeyes opened #64 "why init api is an async function? "
since we are supposed to do our jobs at the callback function of init api,  why not design init api as a sync function?

[2018-06-06 05:51] cwtuan commented on #64
It will load Common Locale Data Repository (CLDR) locale data on demand.

[2018-06-06 05:52] #64 closed

[2018-06-19 03:36] hylin opened #65 "need a config to disable escapeHtml"
Sometimes,when use intl.get('...'),we want to get original html string, not escaped.

[2018-06-19 06:10] cwtuan commented on #65
@hylin
If you need html element, you can use `intl.getHTML` instead.

[2018-06-19 06:29] hylin commented on #65
@cwtuan we use it in vanilla js mode.

[2018-06-20 08:54] justb opened #67 "How to avoid Error 'key is required' caused by init.get(undefined) ?"

[2018-06-20 12:48] cwtuan commented on #67
Why is the key `undefined`?

[2018-06-20 23:10] arturgieralt opened #68 "COMMON_LOCALE_DATA_URLS - why not included in the package?"
Hi All,

First of all, thanks for the very good lib.
Could you tell me why that data is hosted on CDN, not included in the lib itself?
My app wastes about 1sec to get it from CDN, I would appreciate an option to host it by myself.

What do you think about that? What's the reason of keeping these on external servers?

Regards,
Artur

[2018-06-21 02:32] cwtuan commented on #68
where are you located?
It should not be so slow for CDN.
The locale data will be cached after first load.

[2018-06-21 07:59] arturgieralt commented on #68
Poland - I have 300Mbps download speed.
I'm trying to tweak up performance of my site. Here are some stats:
- when not cached:
first meaningful paint: 1000ms
scripting of en.js starts on 800ms and ends 1500ms (700ms of scripting in one file)
last rerender is around 1900ms

- when cached:
first meaningful paint: 700ms
- last rerender around 800ms

I use antD library which gets fonts from CDN, this

[2018-06-21 08:36] arturgieralt commented on #68
I've forked to your project, changed routes in the package, indeed your CDN is very fast. Scripting takes less time when file is hosted on my server, but downloading is not the issue. You can close and sorry for the troubles. On the other hand, I still think its nice to have feature to override these links.

Cheers,
Thanks for the good work!

[2018-06-21 08:48] guxingke201 opened #70 "move react from dependencies to devDependencies"
Could you move the `react ` from dependencies to devDependencies,then we can use react@16 or react@14

[2018-06-22 04:52] cwtuan commented on #68
Ok, I will take it into consideration.

[2018-06-26 11:54] Gpia commented on #63
我也是这样的。我的专有云环境，都是物理隔离的，不能访问cdn

[2018-06-26 11:58] Gpia opened #71 "默认的语言包是从alicdn加载的，这个是否可以设置？？？"
因为我的产品部署环境是专有云环境，不能访问alicdn环境。所以我希望这个语言包的地址是可以配置的。我可以配置成网站本身的文件，或者使用json导入

[2018-06-29 09:55] Gpia commented on #60
我使用了切换语言，将语言记录在cookie中，然后刷新页面的方式。每次页面加载会从cookie读取，然后初始化一次。也就是切换语言必然刷新页面，这样也能避免很多问题，如动态切换后，当前的所有组件需要触发一次重绘，会有多余的业务代码。反而刷新页面是最简单有效的一种方式。

[2018-06-29 09:55] #60 closed

[2018-07-02 13:18] maksimovicdanijel commented on #51
I also have an issue that lang nl is not supported, working with 1.11.2 version.

[2018-07-03 15:43] cwtuan commented on #51
@maksimovicdanijel Try v1.11.3.

[2018-07-04 11:23] rashmendis commented on #51
lang "sv" is not supported. v.1.11.1

[2018-07-05 05:53] cwtuan commented on #51
@rashmendis
Try v1.11.4.

[2018-07-11 15:14] ringcrazy commented on #71
intl源码中有语言包，可以引用，不过得copy一份react-intl-universal/lib/index.js的文件，手动修改COMMON_LOCALE_DATA_URLS路径，暂时想到的方法，还没有找到如何配置的方法

[2018-07-17 11:39] justb commented on #67
@cwtuan Because of some response from the backend

[2018-07-21 03:39] cwtuan commented on #67
It's the backend issue. Try to fix it.

[2018-07-21 03:39] #67 closed

[2018-08-01 03:03] ruoqianfengshao opened #74 "调整一下 react 依赖位置及版本"
目前对 react 依赖显式放在 Dependency 中，建议调整至 DevDependency 中，避免对项目中 react 版本的影响，同时升级依赖至 react@16

[2018-08-01 08:37] coolguy001tv commented on #74
+1

[2018-08-02 04:18] MikeMcElroy opened #76 "Make loading of common locale optional"
It shouldn't be required that the package go out to a third-party CDN.  It'd be nice to be able to specify the `COMMON_LOCALE_DATA_URLS` or be able to bundle an entire locale package in with the initialization.  Something like:
[code]

[2018-08-05 07:17] cwtuan commented on #76
Released in https://github.com/alibaba/react-intl-universal/releases/tag/1.12.0.

[2018-08-05 07:17] cwtuan commented on #68
Released in https://github.com/alibaba/react-intl-universal/releases/tag/1.12.0.

[2018-08-05 07:17] #68 closed

[2018-08-05 07:17] cwtuan commented on #63
Released in https://github.com/alibaba/react-intl-universal/releases/tag/1.12.0.

[2018-08-05 07:17] #63 closed

[2018-08-05 07:17] cwtuan commented on #53
Released in https://github.com/alibaba/react-intl-universal/releases/tag/1.12.0.

[2018-08-05 07:17] #53 closed

[2018-08-05 07:24] cwtuan commented on #74
Fixed in v1.12.1.

[2018-08-05 07:24] #74 closed

[2018-08-05 07:25] #70 closed

[2018-08-05 07:25] #76 closed

[2018-08-05 07:26] cwtuan commented on #71
Released in https://github.com/alibaba/react-intl-universal/releases/tag/1.12.0.

[2018-08-05 07:26] #71 closed

[2018-08-14 07:18] #18 closed

[2018-08-30 06:24] ndaybreak opened #77 "Edge 浏览器报错：failed to load zh.js"
![image](https://user-images.githubusercontent.com/9065444/44833352-6a983d00-ac60-11e8-8682-3c9d1493e3c3.png)

[2018-08-30 06:48] SC30SC opened #78 "Whether to support the array format？"

[2018-08-31 09:50] cwtuan commented on #77
@ndaybreak
Does it work in https://g.alicdn.com/alishu/common/0.0.95/intl-example/index.html ?

[2018-09-03 08:35] h4mit commented on #51
lang "fa" is not supported. my version : ^1.12.1

[2018-09-04 07:01] cwtuan commented on #51
@h4mit
"fa" is supported in v1.12.2.
However, you can also customize `commonLocaleDataUrls` to support more languages since [v1.12.0](https://github.com/alibaba/react-intl-universal/releases/tag/1.12.0).

[2018-09-04 07:04] cwtuan commented on #78
which parameter?

[2018-09-04 08:01] ndaybreak commented on #77
yes it works fine.
My project is deployed in localhost, maybe it is the reason.

[2018-09-04 10:01] panwenhua opened #80 "在react defaultProps中使用intl.get无法获取到值，在纯js文件中也无法取到值"
![image](https://user-images.githubusercontent.com/22313487/45024781-5b542d80-b06c-11e8-86da-d8d2db27ff99.png)
![image](https://user-images.githubusercontent.com/22313487/45024801-67d88600-b06c-11e8-885f-d8eb2fd0dae9.png)

这两种情况都无法取到值。

[2018-09-04 11:16] cwtuan commented on #77
OK. I close it.

[2018-09-04 11:16] #77 closed

[2018-09-04 11:31] cwtuan commented on #80
The locale data may not be ready when your js script loaded.
You could wrap the constants with function like: https://github.com/alibaba/react-intl-universal/blob/55f485eb5e32245307e407b25cb452ad147702d4/examples/browser-example/src/util.js

[2018-09-04 12:02] panwenhua commented on #80
Thank you so much for your help.

[2018-09-10 08:38] hardfist opened #82 "typescript definition support generics"
It will be convenient if methods like int.get('xxx') supports auto completion, one way to do that is using generics just like [rematch](https://github.com/rematch/rematch/blob/master/docs/recipes/typescript.md).

[2018-09-10 10:00] cwtuan commented on #82
Does it not work now?

![image](https://user-images.githubusercontent.com/3455798/45290878-373c9480-b523-11e8-84b6-d3d1771ee708.png)

[2018-09-10 10:12] hardfist commented on #82
Something like following
<img width="743" alt="2018-09-10 6 09 31" src="https://user-images.githubusercontent.com/8898718/45291430-bc747900-b524-11e8-8478-90409e73db02.png">

Even though user can do that by ambient declaration, I think it would be better the lib itself supports this functionality

[2018-09-11 09:08] SC30SC commented on #78
The very beginning, I suppose array object can be get, then I use the key for each element and solved.

[2018-09-11 09:09] #78 closed

[2018-09-11 09:34] cwtuan commented on #78
please show me the code

[2018-09-17 20:56] jhaenchen opened #84 "Remove network dependency for downloading polyfills"
I'm building a progressive web app that sometimes is offline and refreshes. In those scenarios, react-intl-universal causes a network exception to be shown in the console as the request initiated [here](https://github.com/alibaba/react-intl-universal/blob/master/src/index.js#L194) fails. I recommend we move these files to the repository and you can have your build/deployment process copy these fil

[2018-09-18 02:13] cwtuan commented on #84
You could download the common locale data to your build directory in your build script.
Then set `commonLocaleDataUrls ` to local path.
https://github.com/alibaba/react-intl-universal/releases/tag/1.12.0

[2018-09-18 15:21] jhaenchen commented on #84
@cwtuan Thanks!

[2018-09-18 15:59] jhaenchen commented on #84
@cwtuan What if I'm not using the currency or date formatting functions? I'd like to just remove these locale files altogether until I need them, but if I pass an empty array as `commonLocaleDataUrls` I get the error saying `language is not supported`.

[2018-09-19 00:55] yairzaslavsky opened #86 "getHTML returns double quotes for <a href"
I tried to use getHTML with a text containing <a href="www.mywebsite.com">click </a>
and this returned me an <a> tag which looked like this:

<a href=""www.mywebsite.com"">click </a>

[2018-09-19 05:09] cwtuan commented on #84
Shouldn't pass an empty array. Just pass the local path of common locale data in your app.

[2018-09-19 05:12] cwtuan commented on #86
@yairzaslavsky
Show me the code and locale data.

[2018-09-25 10:02] nicolasrouanne opened #87 "Format currency options"
It would be nice to have a way to **_format currencies_ according to certain options**, such as _decimal point_. This might be a good implementation for _numbers_ as well.

Something like what `react-intl` [is providing](https://github.com/yahoo/react-intl/wiki/Components#formattednumber).

[2018-09-25 11:08] cwtuan commented on #87
[Thousands separators](https://docs.oracle.com/cd/E19455-01/806-0169/overview-9/index.html) are displayed properly according to the currency code. Users doesn't need to set it manual.

[2018-09-25 12:42] nicolasrouanne commented on #87
I don't want to select the _thousand separator_ to display, rather the _precision_ of a displayed number

[code]

[code]

This would display `€ 1,000.00` in  `en-US` for instance.
I would like to display `€ 1,000`.

[2018-09-26 03:29] cwtuan commented on #87
Could you show me your `init` function?

[2018-09-26 03:31] cwtuan commented on #86
Closing this issue because of no response.

[2018-09-26 03:31] #86 closed

[2018-09-26 10:01] nicolasrouanne commented on #87
How is the `init` function related to being able to choose the number of decimal of a number?
Here is the one I use in my mocks:
[code]

I had some _afterthought_: maybe what I'm looking for is **a wrapper** around [`Number.prototype.toLocaleString()`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/toLocaleString).

Anyway in the meantime , I switched to `.

[2018-09-27 04:34] cwtuan commented on #87
Yes, you could use `Number.prototype.toLocaleString()` instead if the default formatting isn't suitable in your case.

[2018-10-01 16:22] ls-endurance opened #88 "Printing JSX / React Element Usage"
Problem Description:
In our organization, we're trying to use either the intl.get() or intl.getHTML() api in order to render react elements in conjunction with the message strings.

[See a gist that demonstrates the issue here](https://gist.github.com/ls-endurance/a3db5c00edfd28a82cd73c15e4465680)

I searched old issues, and no one posted this up.

I imagine that we would need to run through the m

[2018-10-23 13:09] cwtuan commented on #65
Release in v1.14.3.

[2018-10-23 13:09] #65 closed

[2018-10-23 13:15] cwtuan commented on #88
In your gist,
[code]

The second parameter is a variable object instead of default message.

Use `.d` for the default message.
[code]

[2018-10-23 13:15] #88 closed

[2018-10-23 13:16] cwtuan commented on #55
API list is in README.

[2018-10-23 13:16] #55 closed

[2018-10-28 22:03] jarvisluong commented on #6
@cwtuan it would be nice if react-native is also supported!

[2018-10-29 02:11] cwtuan commented on #6
@jarvisluong Could you try it with last version of `react-intl-universal`?

[2018-10-29 15:34] ls-endurance commented on #88
You're right, it is a variable object - a React element. That was on purpose.

I am saying that the library does not support this feature.

Here is react-intl supporting elements as variables:
![image](https://user-images.githubusercontent.com/40364466/47660926-162d1300-db66-11e8-8e67-9373859f832d.png)

Here's the link: https://github.com/yahoo/react-intl/wiki/Components#rich-text-formatting

[2018-10-29 15:35] ls-endurance opened #95 "Support React Elements as Variables"
Here is react-intl supporting elements as variables:
![image](https://user-images.githubusercontent.com/40364466/47660926-162d1300-db66-11e8-8e67-9373859f832d.png)

Here's the link: https://github.com/yahoo/react-intl/wiki/Components#rich-text-formatting

[2018-10-30 19:44] richseviora commented on #95
The specific implementation appears to be here: https://github.com/yahoo/react-intl/blob/master/src/components/message.js#L105-L147

[2018-10-31 17:22] ls-endurance commented on #95
That's perfect. I might crack up react-intl-universal and make the PR.

[2018-10-31 17:37] richseviora commented on #95
Awesome :D I'm glad I could help a bit :)

[2018-11-01 16:41] ls-endurance commented on #95
take a look at this PR
https://github.com/alibaba/react-intl-universal/pull/98

[2018-11-01 16:42] ls-endurance commented on #95
let me know if im missing something

[2018-11-02 02:13] cwtuan commented on #95
@ls-endurance Could you please add some description in README. Thanks!

[2018-11-02 13:50] ls-endurance commented on #95
@cwtuan Sure! I'll get on that today.

[2018-11-02 20:53] ls-endurance commented on #95
Readme is updated.

[2018-11-16 06:58] zry656565 opened #101 "Wrong typings of `intl.get()`"
https://github.com/alibaba/react-intl-universal/blob/master/typings/index.d.ts#L31-L44

[code]
But here's a exception:

[code]

It's fine to visit `intl.get('categroy.dog')` or `intl.get('category.cat')`, but when I visit `intl.get('category')`, it returns an object to me, which isn't synced to type definitions.

The actual type should be:
[code]
But this definition isn't so friendly to ts codes.

[2018-11-19 02:50] zry656565 commented on #101
I don't. But after upgrading, this change broke our buggy app, cause we wrote codes like `intl.get('category').d('default val')`. I know it's our bug. but if you guys wanna include such a breaking change. Please consider bumping major version to v2.0, or mention it in change log.

Of course, that sounds better to me. thanks!

[2018-11-19 09:52] cwtuan commented on #101
Though it's a breaking change, we may not bump major version since few people would use it in that way. But we will mention it in release log. Is this ok for you guys?

[2018-11-19 09:56] zry656565 commented on #101
So you are gonna to keep this change and update type definitions, right?

[2018-11-20 00:58] sasaluo commented on #25
in which  page using document.title = intl.get('title');? i have the same problem

[2018-11-21 06:55] hardfist commented on #18
不应该依赖使用者去做polyfill吧，应该是库里使用core-js去做polyfill吧，否则没办法使用@babel/preset-env的useBuiltIns:'usage'特性了

[2018-11-23 12:35] OZZlE commented on #84
Can you explain how to do this for, for example React:

I downloaded: `https://g.alicdn.com/react-intl-universal/locale-data/1.0.0/en.js` then I saved it in a local folder as `localeCache.js` and did:

    import localeCache from 'locales/localeCache';
    intl.init({
    currentLocale: localeHack,
        locales: LocaleHelper.getLocales(),
        commonLocaleDataUrls: localeCache,
    })

Still

[2018-11-26 06:00] cwtuan commented on #84
@OZZlE
Could you log `localeCache`?

[2018-11-28 08:09] wuzinong opened #105 "Does this support multi-level key-values in resource file?"
Dear ,
During the usage of this library I meet a problem, when I try to define a structure in resource file like
{
  "HOME":{
      “About_Text”:"About me"
   }，
  "SIMPLE": "Simple Sentence",
}
And then try to use intl.get('HOME').get('About_Text') and it throw an error.
Is there anywhere that I can find the detailed document which may guide me on that or other similar questions? THX

[2018-11-28 13:59] cwtuan commented on #105
Yes, try `intl.get('HOME.About_Text')`

[2018-11-28 13:59] #105 closed

[2018-12-04 06:56] wuzinong commented on #60
@wuyechang  您好，我试了下init方法，是可以切换语言，但是当前页面的语言不会改变，要切到别的页面在切回来才有效果，我是在router里面做的，请问有什么好的方法吗？谢谢

[2018-12-04 15:08] cwtuan commented on #60
@wuzinong forceUpdate after locale changed

[2018-12-09 19:04] ceszare opened #106 "i18n pseudo-localization made easy"
Hi!

First of all, thank you so much for this library. I am using it successfully in my projects, and it is great!

Secondly, I created a utility that allows me to use pseudo-localization on my configs. I named it [react-intl-universal-pseudo-converter](https://github.com/ceszare/react-intl-universal-pseudo-converter) as it uses the JSON format you provided.

If you would like to and feel it is us

[2018-12-10 15:47] ceszare commented on #106
They are mostly used for testing locales and not for real translations. When working on internal builds, they help you identify strings that have been localized, versus ones that haven't. It also allows you to have a language to switch to from the beginning if you don't already have translation files ready for other languages.

Here is a bit more information for them:

https://docs.microsoft.com/e

[2018-12-11 13:32] yuenmadmad opened #107 "Questions: Is there a way to avoid waring: A message must be provided as a String or AST"
Hello, I was trying to get language data which is an array and try to loop these data into multiple custom react components. It works but have warning message: **A message must be provided as a String or AST**. How can I get rid of this message OR I can do this by an alternative way. Please inspire me. = =

Thank you!

[2018-12-12 02:51] cwtuan commented on #107
Please show me an example reproducing  the warning.

[2018-12-12 16:16] cwtuan commented on #106
Thanks for the contribution. README updated.

[2018-12-12 16:16] #106 closed

[2018-12-18 06:04] raunyuyuan commented on #50
we have been this plugIn, But the promise get rejected and the error is

[code]

[2018-12-18 09:25] cwtuan commented on #50
@raunyuyuan  Which IE version?

[2018-12-18 09:48] raunyuyuan commented on #50
@cwtuan  Had resolved this problem just download two files zh.js and en.js in my project, then write following code:

[code]
the param commonLocaleDataUrls is used to translate language? could you share some url?thanks :）

[2018-12-18 12:58] cwtuan commented on #50
`https://g.alicdn.com/react-intl-universal/locale-data/1.0.0/en.js`

[2019-01-25 12:41] OZZlE commented on #84
this is strange.. I did the same steps again and now it works fine :S so nevermind :P

[2019-01-25 12:58] OZZlE commented on #84
Ok so it "works" but it still logs a warning "index.js:266 Language "en" is not supported." and then it breaks in IE11 + Edge <= v.16

[2019-01-29 06:23] hardfist opened #108 "如何处理服务端渲染情况下A用户设置语言会影响B用户的情况"
如果intl.init 和intl.get不是放在一个调用栈里执行，即A用户的intl.init和intl.get之间插入了B用户的intl.init操作，会造成A用户的intl.get获取的是B用户设置的语言，如何处理这种情况

[2019-02-15 04:57] yuenmadmad commented on #107
@cwtuan
[example](https://github.com/yuenmadmad/reproduce-react-intl-universal-warning) just created.
Not sure if it can be wrote like this, works but have warnings
[code]

[2019-02-15 05:01] cwtuan commented on #107
Should just use `intl.get('common.happy1')`. Why do you need to loop that?

[2019-02-15 05:21] yuenmadmad commented on #107
[code]
Case like slider shd to loop

[2019-02-17 13:01] #107 closed

[2019-02-18 06:39] FrendEr opened #109 "复数问题"
`"PHOTO": "You have {photoNum, plural, =0 {no photos.} =1 {one photo.} other {# photos.}}"`

上面是复数在demo里面的例子，我本地运行是好的。
但是在我的项目中使用了 `other` 就会报错了，会提示整个 en_US 语言包加载失败。

请问这个有问题有遇到过吗？求指导

[2019-02-18 15:10] cwtuan commented on #109
Show me the code and error message.

[2019-02-25 06:50] suweya opened #110 "Whether this can be dynamically import according to window.Intl"
https://github.com/alibaba/react-intl-universal/blob/af9c905d0820f6870c1c12937498329605c3202d/src/index.js#L1

[2019-02-25 14:53] cwtuan commented on #110
The intl polyfill makes the `Intl` have the same behavior in different browser.
Any problem with that?

[2019-02-26 10:57] #87 closed

[2019-03-02 09:11] gukii opened #111 "Support for relative date/time?"
Hi,

Congrats on the good work that you are doing!

Question. Do you plan to support for displaying dates relative to "now"

e.g.:
5 min ago
2 hours ago
2 days ago
...

react-intl has support for it, or maybe incorporate something like "react-timeago"

[2019-03-04 05:11] cwtuan commented on #111
Thanks for the suggestion.
Currently, you could use `moment.js` for this purpose.
JS:
[code]

Locale:
[code]

[2019-03-13 03:07] dragoncl opened #112 "when the browser lt ie11,it tips that "react-intl-universal format message failed for key='COUPON'. “Intl”未定义""
![image](https://user-images.githubusercontent.com/16948494/54251142-50c9a200-4581-11e9-9fcc-a5c5b84ef358.png)

[2019-03-13 08:02] dragoncl commented on #112
I resolve it when i use it in index.js
import 'intl';
import 'intl/locale-data/jsonp/en';

[2019-03-28 15:36] cwtuan commented on #112
Did you visit the demo site? I have't encountered this issue in IE11.

[2019-03-28 15:39] cwtuan commented on #109
Closing issue because of no response.

[2019-03-28 15:39] #109 closed

[2019-03-29 04:52] cwtuan commented on #112
I have tested it in the [demo site](https://g.alicdn.com/alishu/common/0.0.95/intl-example/index.html), it works fine.
![image](https://user-images.githubusercontent.com/3455798/55210216-50880280-5221-11e9-9074-b1a3165e5b77.png)

[2019-03-29 04:52] #112 closed

[2019-04-11 06:06] le0zh opened #113 "Not working for MESSAGE_NOT_IN_COMPONENT"
Based on the [MessageNotInComponent](https://github.com/alibaba/react-intl-universal/blob/55f485eb5e/examples/browser-example/src/MessageNotInComponent.js#L9)  example, the following codes are not woking as expected.

[code]

The `message` will always be default or empty string!

[2019-04-12 02:30] cwtuan commented on #113
Since your `util.getMessage()`  is executed out of class, the `message` is determined when JS loaded. So, you need to put `util.getMessage()` in the function.

[code]

[2019-04-12 02:30] #113 closed

[2019-04-17 15:10] cwtuan commented on #113
By the way, if you want to leave the message outside of function, you could lazy import the file. The lazy imported file is executed after `intl.init`, so the message will work as expected.

[2019-04-25 02:55] cheng-xiaofeng opened #114 "{theTime, time}怎么用"
<div>{intl.get('TIME', {start,expires})}</div>
显示时间是{theTime, time}
为什么

[2019-04-25 03:10] cwtuan commented on #114
Check this example:
https://github.com/alibaba/react-intl-universal/blob/master/examples/browser-example/src/Date.js

[2019-04-25 03:10] #114 closed

[2019-04-30 06:47] d9767192 opened #115 "Support partial singleton in react-intl-universal"
Hi, folks. I have a suggestion about react-intl-universal. Could we separate instance of ReactIntlUniversal into another file? In my case, I need to instance a partial singleton in sub-project so that I would have many intl instances in my whole project.
Although I could separate it manually by installing intl in each sub-project, it's ugly for me.
Furthermore, I think separate instance and class

[2019-05-06 02:02] cwtuan commented on #115
Released in v1.16.1

[2019-05-06 02:02] #115 closed

[2019-05-21 06:31] OZZlE opened #117 "MAJOR ISSUE IE11 + Edge <= 16"
This module uses `console.warn()` like this for Strings that aren't translated

    react-intl-universal key "Shortcut links" not defined in en-en_US

In IE11 + Edge <= 16 console is not defined **unless** you have developer tools opened.. so this crashes the entire site.

[2019-05-21 07:58] OZZlE commented on #117
See: https://stackoverflow.com/questions/31685216/site-behaves-differently-when-developer-tools-are-open-ie11

[2019-05-21 13:28] cwtuan commented on #117
`console-polyfill` is used in this library, it shouldn't have this issue.
Could you provide an example in codesanbox that makes it failed in IE11?

[2019-05-21 13:32] OZZlE commented on #117
Well it's like impossible to debug since I can't open developer tools (because then it works)..

But I assume it must be some method which it doesn't fixes like `console.table` ?  https://github.com/paulmillr/console-polyfill/issues/4

I guess it's more related to an issue in console-polyfull.. sorry I missed that you were using that..

[2019-05-21 14:35] cwtuan commented on #117
Only `console.warn` is used in this library.
Please provide a example for this issue.

[2019-05-21 19:17] jlpatrick commented on #84
We have been seeing intermittent long delays when fetching https://g.alicdn.com/react-intl-universal/locale-data/1.0.0/en.js that prevent our product from loading while waiting, so have been forced to switch to a `commonLocaleDataUrls` override solution. It would be nice to remove the network dependency as originally requested.

[2019-05-22 06:02] cwtuan commented on #84
@jhaenchen
You can host the files  to your server by overriding `commonLocaleDataUrls` currently.
We may consider remove the network dependency by default in next major release.

[2019-05-22 06:18] jhaenchen commented on #84
It's not me bringing the ticket up again, but anyone who is using `commonLocaleDataUrls` override will need to not let webpack transform the import into a JSON object. The internal code expects a URL to GET. I'm not sure what loader will need to be disabled and I don't know how you would disable loading JSON for only that single import since in most cases you want JSON as the object.

It might be

[2019-05-23 08:42] cwtuan commented on #117
![image](https://user-images.githubusercontent.com/3455798/58238263-8953dc00-7d79-11e9-926d-657943f34bb2.png)

I have tested if console.warn breaks IE 11/ IE 10, it works fine.

[2019-05-23 08:42] #117 closed

[2019-05-23 08:47] #84 closed

[2019-05-23 09:14] cwtuan commented on #84
Fixed in https://github.com/alibaba/react-intl-universal/releases/tag/2.0.3

`commonLocaleDataUrls` is deprecated. And you could `require` the locale data in your app.

[2019-07-05 03:13] wanjuanjuanv opened #119 "2.1.1版本是否支持react native"
2.1.1版本是否支持react native？
或者说react native 国际化多语言，有什么好的轮子可推荐

[2019-07-08 02:47] cwtuan commented on #119
Yes

[2019-07-08 02:47] #119 closed

[2019-09-06 01:45] DongShi opened #120 "[Discussion] intl-universal vs react-intl-universal"
Hey there:
You guys have done a good job, to push i18n work out of viewer, into a self-contained bundle compared to react-intl.

But apparently, this lib still depends on reactjs, (you guys provide getHTML method, etc).
Why not make it a standalone and library agnostic package, so other library users can also benefit from your work?

Or maybe you could provide some build option to just build the "

[2019-09-09 03:00] cwtuan commented on #120
That's good idea.
We will take it into consideration.

[2019-09-18 07:07] Chris0316 opened #121 "如何根据redux状态变化初始化locale"
我可以在react根组件app.js中通过事件实时无刷新初始化语言包。但是当我把状态加到redux中时，当前语言切换后无法自动初始化语言包。 如果在根组件渲染方法中调用loadLocales就会陷入死循环使浏览器崩溃。

[2019-09-19 12:53] cwtuan commented on #121
`load` will not trigger component rendering, it just merge the locale file to internal object. So, your deadlock problem is not related to `react-intl-universal`.

[2019-09-19 13:07] Chris0316 commented on #121
Could you please guide how to re-initialize the locale depends on a redux state? Because I can only initialize the locale once in the componenetDidMount hook. When the redux state change, the intl.inti will not be called.

[2019-09-20 02:36] DongShi commented on #121
@Chris0316 try use some other way out of component lifecycle methods.
One option is to use event trigger, maybe [event-emitter](https://github.com/medikoo/event-emitter#readme) could help?
First let your root component subscribe some event like 'LOCALE_CHANGE', and in root's render, make locale a key.

[code]

So when your locale related store state changes, the state would emit a global event, an

[2019-09-23 02:01] Chris0316 commented on #121
Thanks for the replies, finally I have to use event to change the current language without refresh the page.

[2019-09-23 02:01] #121 closed

[2019-10-09 11:41] DongShi opened #122 "How to use multiple react-intl-universal instance? Add merge support?"
We are working on a multiple page react App, where each page has its own i18n messages bundles and each page is rendered sepratedly with ReactDOM.render().

So we want to each page has its own react-intl-universal instance to handle the i18n affair.
However, seen from the implementation of your [index.js](https://github.com/alibaba/react-intl-universal/blob/master/src/index.js), a singleton instan

[2019-10-09 14:57] cwtuan commented on #122
`react-intl-universal` is singleton by default. However, you could instantiate it on demand.

[code]

[2019-10-09 14:57] #122 closed

[2019-10-11 02:22] DongShi commented on #122
Hi @cwtuan
Does this actually work? I tried in my client code, and get undefined for ReactIntlUniversal?

![image](https://user-images.githubusercontent.com/5009987/66619818-de9d6680-ec10-11e9-8a52-668ff2ee0796.png)

What I can do is to create another instance via

but this looks too hacky.

[2019-10-12 13:14] cwtuan commented on #122
@DongShi do you use the last version?

[2019-10-13 03:41] DongShi commented on #122
hi @cwtuan
I am using version 2.0.3 which has the same index file as you pointed.
I am using it in a pure browser-side react app.

[2019-10-13 08:43] cwtuan commented on #122
@DongShi please try v2.2.1.

[2019-10-20 05:41] theprimone opened #123 "讨论一下，关于错误信息，后端只返回错误编码，前端去做国际化，这样合适吗？"
后台管理系统拦截响应后如果有错，就 `switch` 错误码，再调用相关的国际化配置。

如果还有安卓和 iOS 的客户端时，都得对错误做国际化，虽然后台和客户端可能调用接口存在差异，但是这样每个端都对错误码做一套国际化是不是成本太高了？

如果带上终端的语言，让后台直接返回对应的错误信息，终端只需要打印出来是不是一个更好的选择呢？

[2019-10-21 03:58] icantunderstand opened #124 "不能获取到对应的键值"
try {
      return intl.get(key, params).d(d || key)
    } catch (err) {
      console.log('ingetCatch', key)
      return d || key
    }
locals
{ aa: "aaa {  sdsds }" }

intl.get('aa')  期待返回 aaa{sdsds}

实际 返回  aa

[2019-10-21 09:22] cwtuan commented on #124
Do you `init(...)` intl before `get(...)` locale?

[2019-10-21 09:32] cwtuan commented on #123
In our team, the request i18n is done in the backend.
Otherwise, the locales file need contains all of the possible error message. The file may be too large.

[2019-10-21 09:32] #123 closed

[2019-10-22 05:12] icantunderstand commented on #124
i have inited    other value like 'aaaa' 'bbb' work fine . but value like '{aaa}111' does not work well.

[2019-10-22 14:57] cwtuan commented on #124
Try
[code]

And locale file:
[code]

[2019-10-23 06:36] #124 closed

[2019-11-13 03:17] ubuntugx opened #125 "cdn 不稳定"
cdn这周内出现了两次连接超时的情况，导致我们的平台不能使用了https://g.alicdn.com/react-intl-universal/locale-data/1.0.0/zh.js

[2019-11-13 04:45] ubuntugx commented on #125
目前的版本好像不支持 cdn 地址自己配置了 https://github.com/alibaba/react-intl-universal/issues/71，还有其他方式可以实现么

[2019-11-15 09:40] cwtuan commented on #125
Upgrade to ^2.0.3 and require the locale file in your app.
FYI: https://github.com/alibaba/react-intl-universal/releases/tag/2.0.3

[2019-11-15 09:40] #125 closed

[2020-03-26 11:16] ahaus opened #126 "react production build fails when console is stripped"
I created a react app with create-react-app.

For production builds i am removing console messages using changes in the webpack configuration.
See: https://stackoverflow.com/questions/56276325/how-can-remove-console-log-in-the-production-build-of-a-react-application-create

The build fails to load because the option warningHandler is not defined.

I suggest to define this option as a function inst

[2020-03-27 05:03] cwtuan commented on #126
fixed in v2.2.3

[2020-03-27 05:03] #126 closed

[2020-03-31 04:05] MASIROU opened #127 "Being able to call API outside of React component and function"
I want to be able to call the Intl API outside of the React Component like the following. I also have a message file where you define messages for each js file for the better structure like the following.

example.js
[code]

messages.ts
[code]

But as mentioned here https://github.com/alibaba/react-intl-universal/issues/113, calling intl function outside of React component will cause us to get a d

[2020-03-31 09:57] cwtuan commented on #127
One simple way to use Intl API outside of the React Component is make your message as a function.
[code]

[2020-04-03 21:56] MASIROU commented on #127
So there is no way to execute "intl.init" before loading these constants? preferably, I do not want to make these constants a function. Thank you!

[2020-04-06 23:16] MASIROU opened #128 "Simplify the process of changing locale?"
I want users to be able to change the language, and I simply did the following, and it seems to be working fine.

[code]

Is this the recommended way to change the locale for intl object? I thought I had to re-initialize with the function "intl" with the new locale.

If this is not the recommended way to change the locale, It would be great if we had a better way to change locale of intl object ra

[2020-04-07 03:15] cwtuan commented on #128
[code]

[2020-04-07 03:20] cwtuan commented on #127
Make the locale file loaded before your app js loaded.
For example,
[code]

[2020-04-09 05:54] jthug opened #129 "当我的项目引入redux之后，更改语言组件内部不自动刷新"
我的index.js
`ReactDOM.render(<Provider store={store}>
    <MyRouter />
</Provider>, document.getElementById('root'));`
主容器
`import React from "react";
import styles from "./Admin.module.scss";
import bg from "../resource/bg.mp4";
import ic_nest_logo from "../resource/ic_nest_logo.png";
import cs from "classnames";
import Home from "./home";
import Understand from "./understand";
import JoinNest fro

[2020-04-10 13:24] cwtuan commented on #129
Please provide a https://jsfiddle.net/ case.

[2020-04-10 13:25] #128 closed

[2020-04-10 13:25] #127 closed

[2020-04-14 00:00] MOKO2525 opened #130 "Extract strings"
I know this is discussed here https://github.com/alibaba/react-intl-universal/issues/7 in 2017. Do we have the recommended way to extract strings with react-intl-universal now?

[2020-04-14 03:00] supergaojian opened #131 "typing没有暴露ReactIntlUniversal构造函数"
在ts开发中使用`import { ReactIntlUniversal } from 'react-intl-universal';` 会报错：
`Module '"react-intl-universal"' has no exported member 'ReactIntlUniversal'.`
但是lib中确实暴露了`ReactIntlUniversal`方法且可使用

[2020-04-14 17:34] MOKO2525 commented on #128
Thank you for the reply. Do you see any disadvantage of using the following way?

[code]

[2020-04-14 17:34] #130 closed

[2020-04-15 00:54] MOKO2525 commented on #127
how come loading locale file first helps in this case?

[2020-04-15 07:38] #129 closed

[2020-04-15 10:53] cwtuan commented on #131
[code]

[2020-04-15 10:53] #131 closed

[2020-04-15 10:57] cwtuan commented on #127
@MOKO2525
The `locales` is just an object, so you could use it in js:
[code]

[2020-04-15 10:59] cwtuan commented on #128
@MOKO2525
Yes, you could just write
[code]

[2020-04-15 18:40] MOKO2525 commented on #127
sorry i'm confused how to load a locale file before app loads in scripts tag like below

[code]

[2020-04-17 09:04] cwtuan commented on #127
@MOKO2525
Is your locales file in the backend server or CDN?
The example above is rendering locales data in html in backend.

[2020-04-17 09:51] cwtuan commented on #127
Another solution is using lazy load for the components.
The components could be loaded after `intl.init` in this case.
Please check: https://reactjs.org/docs/code-splitting.html#reactlazy

[2020-04-17 09:58] MOKO2525 commented on #127
I'm storing the local JSON files for locale.

[2020-04-17 10:22] MOKO2525 commented on #127
I was looking at the source code of intl.init and found a comment .

      // init() will not load external common locale data anymore.
      // But, it still return a Promise for abckward compatibility.

If I'm loading the locale json file locally, does it mean we can call intl.init like a sync function without any problem?

[2020-04-18 07:41] cwtuan commented on #127
Just load the locale data before `init()`.
Using lazy loading in react-route can solve this issue.

[2020-06-13 18:36] gitfornncn opened #133 "react-intl-universal locales data "null" not exists."
加载语言文本时，会出现react-intl-universal locales data "null" not exists.这样的报错，但实际是有加载到。想了解下是什么原因呢
 <span>{intl.get("public.title")}</span>

[2020-06-17 15:15] callmejm commented on #133
一样有相同问题

[2020-06-18 12:03] cwtuan commented on #133
Do you `intl.init` before render your app?

[2020-07-09 06:32] Chevindu commented on #133
I am having the same warning in my console. I do `intl.init()` in my `componentDidMount()` method. No visible issues with loading strings, though.

![react-intl-universal locales data "null" not exists](https://user-images.githubusercontent.com/11093698/87004970-ea3baf00-c1db-11ea-9e57-f52f84da675c.png)

[2020-07-11 02:27] cwtuan commented on #133
Do you intl.init before render your app?
Check the example:
https://github.com/alibaba/react-intl-universal/blob/master/examples/browser-example/src/App.js#L55

[2020-07-11 02:28] #133 closed

[2020-07-18 07:36] cwtuan commented on #41
持续招聘中，欢迎联系！

[2020-07-20 12:02] astonishqft opened #135 "No locale data has been provided for this object yet."
升级完了你们最新的版本`react-intl-universal@2.3.1`之后，编译完运行会报错，之前的版本是没问题的

![E88BE704-C4CF-4787-9080-6FED968C591E](https://user-images.githubusercontent.com/15138753/87935579-eead7500-cac3-11ea-97d6-fb69eea1ece9.png)

[2020-07-24 04:50] cwtuan commented on #135
hi, please provide your code and locale files

[2020-07-24 09:38] tvarsis opened #136 "[Security] Upgrade lodash.merge to 4.6.2 to fix security issue"
Snyk is flagging this package as a security issue due to the dependency on lodash.merge version 4.6.1. Upgrading that dependency will fix that issue.

![image](https://user-images.githubusercontent.com/10090010/88378817-0295f700-cda2-11ea-8ce1-7834fe737f91.png)

[2020-07-25 03:50] #136 closed

[2020-07-28 09:26] dragonge commented on #50
请问内网环境请求不通这个地址怎么办？

[2020-07-30 02:28] cwtuan commented on #50
@dragonge

Upgrade to  the latest version which will not load CND resource.

[2020-08-07 13:25] pavelglebov commented on #135
Same issue after the update, code is plain just from the example.

[2020-08-09 02:06] cwtuan commented on #135
@pavelglebov
this one? https://github.com/alibaba/react-intl-universal/tree/master/examples/browser-example

[2020-09-03 05:46] 7nights opened #140 "Plural form with default message"
In the example you can use variables with defaultMessage like
```intl.get('HELLO', { name }).d(`Hello, ${name}`); // "Hello, Tony"```. But is there anyway to get defaultMessage to work with locale template like
```intl.get('HELLO', { num }).d("You have {num, plural, =0 {no photos.} =1 {one photo.} other {# photos.}}" )" })``` . For example, maybe add a parameter to `intl.get`: `intl.get(key, varia

[2020-09-04 06:01] cwtuan commented on #140
Currently, the defaultMessage is just support the ES6 string template.
I will take this into consideration for next major release.

[2020-09-14 08:14] olebrun commented on #135
Have the same issue with 2.4.1 and react-native on android and only in debug mode.
Work on non-debug mode et work on ios debug or non-debug mode ... weird ?

Works ok on 2.2.5

[2020-09-14 13:21] cwtuan commented on #135
@olebrun  could you provide your code  example and locale files

[2020-09-15 17:02] zcoffin86 opened #141 "get() and formatMessage() returns empty string instead of key"
In issue #2 there is the thought that this project should mirror the react-intl API. I've been migrating a project to use this library and I just ran into a case where it doesn't.

When using `get()` with a key that is not present in the locale files (or `formatMessage()`), `react-intl` displays a console warning and returns the key, whereas currently `react-intl-universal` displays a console warn

[2020-09-16 10:10] cwtuan commented on #141
Hi, @zcoffin86
Thanks for the contribution.
However, this PR may not be accepted since this change the behavior in current API.
We recommend use defaultMessage for every message in case that the key is not found.
For example, intl.get('HELLO', { name }).d(`Hello, ${name}`)
You could also add warningHandler in init function to accumulate missing messages using third party services.

[2020-09-16 10:10] #141 closed

[2020-09-17 08:23] astonishqft commented on #135
我的场景是这样的：

我在主系统里面使用了 `react-intl-universa`l，然后将子系统通过微前端的方式集成到主系统的时候就会报这个错，子系统也使用了react-intl-universal，所以我分析是不是父子系统集成的时候互相影响了。另外如果使用 `2.2.5` 这个版本就不会报错

[2020-09-18 05:45] cwtuan commented on #135
@astonishqft
We also have micro-frontend architecture, but we don't encounter this issue.
Please provide your code sample.

[2020-09-28 06:49] dopt opened #143 "Update README [Vanilla JS]"
Hi, I just tested that the react-intl cannot be used in Vanilla JS, but the README seems to be confusing because it mentioned that _Can be used not only in React.Component but also in Vanilla JS._

Therefore, I suggest to update the README to prevent confusion.

![image](https://user-images.githubusercontent.com/2612333/94399061-47228200-0199-11eb-99c5-97101bfb424f.png)

[2020-09-28 07:34] cwtuan commented on #143
react-intl cannot be used in Vanilla JS, but react-intl-universal can make it.

[2020-09-30 08:59] dopt commented on #143
my bad, yes indeed it can.

[2020-09-30 08:59] #143 closed

[2020-10-22 07:25] Bingjiajia opened #144 "react-intl-universal locales data "null" not exists."
when only use react is ok, but when use redux connect()(MyComponent) with the warning and no result.

`class MyComponent extend react.Component{
  render(){
    return <h1>{intl.get('string')}</h1>
  }
}`

[2020-10-22 09:51] cwtuan commented on #144
do you `init` before `render`?

[2020-10-23 09:17] Bingjiajia commented on #144
### i have do in in  **index.js**
`loadLocales = (lang = 'zh-CN') => {
    intl.init({
      currentLocale: lang,
      locales,
    }).then(() => {
      this.setState({
        antdLang: lang === 'zh-CN' ? zh_CN : en_US
      })
    })
  };

  render() {
    return (
      <Provider store={store}>
        <ConfigProvider locale={this.state.antdLang}>
          <Router>
            <Routers/>

[2020-10-25 13:23] cwtuan commented on #144
Use debugger to make sure you `init` before `render`

[2020-10-28 08:01] oleksandr-dziuban commented on #135
I can confirm that on react-native Android Hermes Engine the latest version is broken. If I downgrade to 2.2.5 it's OK, also if debugger enabled and Google V8 engine is active - it's OK too. Looks like we need ``intl`` polyfill now for Android native envs

[2020-10-28 08:40] oleksandr-dziuban commented on #135
Confirmed:
Just install  ``yarn add intl``:

And add

[code]

in the root index of your app and everything works on Android.

[2020-10-28 11:55] cwtuan commented on #135
For non-browser application, you should add `intl` manually.

https://github.com/alibaba/react-intl-universal/blob/master/examples/node-js-example/src/App.js#L11-L16

[2020-11-03 08:28] geohuz opened #145 "Extract all message IDs from the source code"
I'm wondering if there is anyway to extract the message, like the usage in react-intl, there is a babel-plugin-react-intl, so can I use it in the universal?

Thanks

[2020-11-04 05:38] cwtuan commented on #145
Yes, we are working on it. The tool is used internally, and will be release soon.

[2020-11-04 08:08] jiangkeyuan opened #147 "plural form isn't incompatible for Android7.0? {key,plural,=1 {#st} =2 {#nd} =3 {#rd} other {#th}}"
当 key 为 1,2,3 时正常显示,other 时 就显示 整行代码,是不是不兼容安卓7.0,  其余系统正常

[2020-11-05 06:19] cwtuan commented on #147
your key is "1,2,3" ?

[2020-11-05 06:36] jiangkeyuan commented on #147
code:{intl.get("2020.10.10",{nper:item.date})} date为 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15........
三语:2020.10.10:"hello {nper,plural,=1 {#nd} =2 {#rd} =3 {#rd} other [{#th}}"

[2020-11-05 06:39] jiangkeyuan commented on #147
![微信图片_20201105142739](https://user-images.githubusercontent.com/40256761/98206332-afbd0580-1f74-11eb-8759-a2630de8976c.jpg)

[2020-11-05 06:42] jiangkeyuan commented on #147
手机型号 :SHARP  FS8014  版本 安卓,7.0

[2020-11-05 07:44] cwtuan commented on #147
Do you have the following code in your app?

https://github.com/alibaba/react-intl-universal/blob/master/examples/node-js-example/src/App.js#L12-L16

[2020-11-05 07:55] jiangkeyuan commented on #147
sure

[2020-11-05 07:56] jiangkeyuan commented on #147
1,2,3 都正常显示了 other 这个api是不是不支持            只有安卓7.0 显示不正常  其余系统正常

[2020-11-05 11:30] cwtuan commented on #147
any error message in console?

[2020-11-06 02:07] jiangkeyuan commented on #147
good morning !

[2020-11-06 02:12] jiangkeyuan commented on #147
- #
![WechatIMG324](https://user-images.githubusercontent.com/40256761/98317981-8ce42d00-2018-11eb-9f13-7ff50ca54eff.jpeg)
![WechatIMG325](https://user-images.githubusercontent.com/40256761/98317988-8f468700-2018-11eb-94d8-47fd12d39c9c.jpeg)

[2020-11-06 02:13] jiangkeyuan commented on #147
"react-intl-universal": "^2.4.1",

[2020-11-07 04:23] cwtuan commented on #147
Please try this,
[code]

[code]

[2020-11-09 09:23] jiangkeyuan commented on #147
it is ok!  thanks

[2020-11-09 09:27] #147 closed

[2020-11-11 08:15] yfs-2000 opened #148 "使用getHtml返回的标签会被span标签包裹????"
我里面为p标签字符串      返回之后成了span包裹p标签 这样显得很奇怪

[2020-11-11 13:21] cwtuan commented on #148
Yes, it is.

[2020-11-19 03:30] itwangyun opened #149 "想问一下，determineLocale中提供的几种方式，都必须要刷新页面才能切换语言吗？fallbackLocale这种用法有没有示例，其他的几种方式尝试过了，要刷新页面才能渲染语言，有没有什么方式可以在不刷新页面的情况下就切换语言？"

[2020-11-19 04:16] itwangyun commented on #149
自己处理了一下，在修改语言切换的函数里，重新使用了
![image](https://user-images.githubusercontent.com/38803819/99620721-0b04f280-2a61-11eb-927d-52cc6a932c04.png)

可以正常切换了。重点是 intl.init() 函数的使用。

[2020-11-19 07:29] cwtuan commented on #149
1. Just set `fallbackLocale` in `intl.init() ` such as `intl.init({fallbackLocale:'en-US'})`
2. After language changed, `intl.init()` again

[2020-11-19 07:29] #149 closed

[2020-11-23 03:15] #148 closed

[2020-11-23 03:25] yfs-2000 opened #150 "出现了一个奇怪的警告"
en.js
`marketAnalysis:{
  tab: ["Products", "Analysis"],
}`
使用时
`
intl.get("marketAnalysis.tab")[this.props.marketAnalyticsActive]
`
this.props.marketAnalyticsActive为"0"或"1"
这时候控制台出现一个警告
`react-intl-universal format message failed for key='marketAnalysis.tab'. The intl string context variable "undefined" was not provided to the string "undefined"` 我不知道为什么会出现这个警告  使用似乎也是正常的  这个会有什么影响吗

[2020-11-23 03:29] yfs-2000 commented on #150
当尝试为`intl.get(`marketAnalysis.tab.${this.props.marketAnalyticsActive}`)` 时  警告消失

[2020-11-27 11:32] cwtuan commented on #150
`intl.get` is supposed to return a string instead of a object.

[2020-11-27 11:32] #150 closed

[2020-11-27 11:33] #144 closed

[2020-11-30 08:46] QiAnXinCodeSafe opened #151 "HTTP安全问题"
https://github.com/alibaba/react-intl-universal/blob/7e5a3bcf26c49f21ebad2893f8c3f5800645341f/examples/browser-example/src/App.js#L77

请使用HTTPS协议。

[2020-12-03 12:56] cwtuan commented on #151
invalid issue

[2020-12-03 12:56] #151 closed

[2020-12-19 09:29] ruoqianfengshao opened #152 "Test case failed in date format"
When i run `npm run test`, one test case was failed.
![image](https://user-images.githubusercontent.com/2928664/102681612-cdc98700-41fd-11eb-8a3a-35812437d6d5.png)

IntlMessageFormat’s default time options is
[code]
if test case expected to get 24 hour format time, should transfer `hour12` as time params.
maybe like this:
[code]

And this will lead to pass all test cases.

[2021-01-14 08:14] 1053895057 opened #153 "子组件里面，需要重新映入intl，并且初始化吗，感觉这样好麻烦吧"

[2021-01-16 05:48] cwtuan commented on #153
Please check this
https://github.com/alibaba/react-intl-universal#component-internationalization

[2021-01-16 05:48] #153 closed

[2021-02-18 01:59] xiaosenzhang opened #154 "vite创建的项目，用此插件会报错"
vite创建的项目，用此插件会报错

[2021-02-18 04:58] cwtuan commented on #154
please provide more message

[2021-02-18 07:07] xiaosenzhang commented on #154
用[vite](https://vitejs.dev/guide/#scaffolding-your-first-vite-project)创建react项目
在App.jsx中 import intl from 'react-intl-universal'  后
![image](https://user-images.githubusercontent.com/31362628/108318317-96c22280-71fa-11eb-81d6-d6c7e0d3fe94.png)
![image](https://user-images.githubusercontent.com/31362628/108318415-c2dda380-71fa-11eb-930a-a50f4cd02319.png)

[2021-02-20 03:24] #154 closed

[2021-04-13 07:12] iceytea opened #156 "Plural parse mistake when intl.get as nested json after version 2.3.0"
## Case

#### code list

[code]

[code]

#### result

- when use version < 2.3.0 *Correct!*
[code]
- when use version >= 2.3.0 *Mistake*
[code]

## Reproduce Example
https://codesandbox.io/s/react-intl-universal-example-forked-6bclw?file=/src/Plural.js

## Temp Solution
Don't use as below:
[code]
Or downgrade version to < 2.3.0, for example, 2.2.5

[2021-04-13 09:15] cwtuan commented on #156
Please use this format:
[code]

[2021-04-19 13:05] oleksandr-dziuban commented on #135
Add

[code]

And add these polyfills to index.js root file:

[code]

to support intl and plurals on react native.

[2021-05-09 03:06] #156 closed

[2021-06-04 03:13] anderlaw opened #161 "Documentation mistake: information missing in README"
![image](https://user-images.githubusercontent.com/21139011/120740274-802fa500-c525-11eb-88f8-35749c3d3e73.png)

it should be `you may not need this API`

[2021-06-05 04:29] #161 closed

[2021-07-14 01:27] Myhappyboy opened #162 "format message failed for key='organization.columnDefs'. The intl string context variable "undefined" was not provided to the string "undefined""
excuse me！when use react-intl-universal hint message，local data format organization ={ columnDefs: [{ headerName: 'rowNumber', field: 'rowNumber', minWidth: 70, pinned: 'left', hide: false, cellRenderer: "filter_rowNumber", lockPosition: true},{ headerName: 'name', field: 'name', hide: false, minWidth: 180},]}

[2021-07-16 05:05] cwtuan commented on #162
Please provide more info. I couldn't understand your question.

[2021-07-25 09:32] #162 closed

[2021-07-25 09:35] #145 closed

[2021-08-09 03:20] hongdeyuan opened #165 "react-intl-universal-extract not work for Chinese"
[code]
//package.json
"intl:extract": "react-intl-universal-extract --cmd extract --source-path ./ --output-path ./lang/locales/zhCN.json --verbose",

In the zhCN.json file, the content cannot be extracted：` intl.get('没有找到该资源').defaultMessage('404 - 没有找到该资源')`

so， I suspect  react-intl-universal-extract  does not support Chinese keys

[2021-08-09 14:24] hongdeyuan commented on #165
`const DETECT_REGEXP = /(intl|IntlUtils)\s*\.\s*(get\s*\(\s*["'`]([\w\.-]+)["'`][\s\S]*?\)\s*\.\s*(defaultMessage|d)\s*\(\s*[`"']([\s\S]+?)[`"']|getHTML*\s*\(\s*["'`]([\w\.-]+)["'`][\s\S]*?\)\s*\.\s*(defaultMessage|d)\s*\(\s*(["'`<][\s\S]+?["'`>]))[\s*,]*\)/gm;`

Replace ： src/util/constant.js for **support Chinese keys**

`const DETECT_REGEXP = /(intl|IntlUtils)\s*\.\s*(get\s*\(\s*["'`]([\s\S]+?)

[2021-08-09 14:42] hongdeyuan commented on #165
PR： https://github.com/alibaba/react-intl-universal/pull/166

[2021-08-09 15:44] cwtuan commented on #165
Yes, Chinese key isn't supported and not recommended.

[2021-08-09 15:54] hongdeyuan commented on #165
why not recommended?

[2021-08-19 14:39] djonathas opened #168 "HTML inside a variable doesn't work"
I realized today it is not possible to put HTML tags inside a variable, like that:

[code]

the result is:
`Test List <br />Item 1<br />Item 2`

[2021-08-21 08:26] cwtuan commented on #168
Yes, the variable will be a string in the result.

In your case, you could separate them into two parts.
[code]

[2021-08-21 08:26] #168 closed

[2021-08-23 12:11] djonathas commented on #168
Yes, I did this for now. But I thought it was good have this feature to variable too

[2021-09-01 20:38] Dario91 opened #171 "Missing typings for ReactIntlUniversal class"
Hi,
is there a reason why the ReactIntlUniversal class isn't exposed in the index.d.ts file?

[2021-09-04 06:23] cwtuan commented on #171
It does. Check: https://github.com/alibaba/react-intl-universal/blob/master/packages/react-intl-universal/typings/index.d.ts
![image](https://user-images.githubusercontent.com/3455798/132085065-212c4925-853d-4391-80ac-64d8a6930ef4.png)

[2021-09-04 06:23] #171 closed

[2021-09-26 09:52] cheerylong commented on #154
请问解决了吗？也遇到了同样的问题

[2021-09-26 10:16] xiaosenzhang commented on #154
我找到了两种解决方法：
1. 直接改node_modules中的源码，把global  换成 var
2.
![image](https://user-images.githubusercontent.com/31362628/134803690-a33a825c-c4b1-4b62-aba2-913176859fa3.png)

[2021-09-27 02:22] pumpkinduan opened #174 "react-intl-universal-extract work wrong for some situation!!!"
### 操作流程与业务代码
1. 如下为编写的业务代码，在一个.tsx文件中：
[code]
2. 我需要提取key-value至json文件中，理想情况下是生成这样的json：
[code]
3. 但由于不兼容intl.get('key')的写法，必须写intl.get('key').d('value')，脚本才会正常提取文案，原因是如下代码：
![image](https://user-images.githubusercontent.com/34852848/134836971-865e2d6e-0247-4793-b34a-afbcdb843a1d.png)
4. 所以为了兼容原来的写法：intl.get('key')，校验message没有默认值时的错误处理，我暂时关闭了, 且过滤掉了没有默认值的message，如下图：
![image](https://user-images.

[2021-09-28 19:27] BigBadAlien opened #175 "ICU standards for numbers formatting works partially"
As described in the readme:

But I tested the number formatting from here:

and most of the examples don't work, such as:

[code]

or

[code]

But

[code]

works

[2021-09-28 21:43] BigBadAlien commented on #175
Looks like the bug in another package. Created https://github.com/formatjs/formatjs/issues/3193

[2021-10-02 02:39] cwtuan commented on #174
All of the `.d` or `.defaultMessage` is required for extracting message.

[2021-10-18 09:53] BigBadAlien commented on #175
To resolve the issue require an update `intl-messageformat` to 9.9.3

[2021-10-19 06:25] cwtuan commented on #175
intl-messageformat@9.9.3 would breaks the test case.
I will take time to fix it.

[2021-12-10 02:43] walirt commented on #95
Is this feature not incorporated into the main branch?

[2021-12-13 07:01] shawlp opened #176 "QUESTION: Uncaught TypeError: react_intl_universal__WEBPACK_IMPORTED_MODULE_0___default(...) is not a function"
utils.js:280 Uncaught TypeError: react_intl_universal__WEBPACK_IMPORTED_MODULE_0___default(...) is not a function
    at n (utils.js:280)
    at go (utils.js:251)
    at Object.e [as merge] (utils.js:289)
    at l (mergeConfig.js:33)
    at c (mergeConfig.js:44)
    at Object.go [as forEach] (utils.js:245)
    at Oa (mergeConfig.js:54)
    at Function.../component-frontend/lib/index.js.Qa.create (

[2021-12-21 04:08] serfgy commented on #174
`intl.get('common.special').d('special')
`
are you saying the .d is compulsory for all .get()?

[2021-12-28 14:55] cwtuan commented on #174
Yes, it is.

[2021-12-29 02:19] cwtuan commented on #176
Please provide demo case for this issue.

[2021-12-29 13:03] cwtuan commented on #165
The json key is better to be English.

[2021-12-29 13:03] #165 closed

[2022-01-07 03:08] cheerylong commented on #154
我也是采用了window.global = window解决。

[2022-02-08 10:04] ppxu opened #177 "升级2.4.10后getHTML方法异常"
从2.4.8升级到2.4.10后getHTML方法渲染异常，重现例子
https://codesandbox.io/s/react-intl-universal-example-forked-mz6ie?file=/package.json
改成2.4.8即正常

[2022-02-08 17:43] berziiii commented on #177
Second this - upgrading to 2.4.10 breaks both getHTML and formatHTMLMessage - usage throws console error of INVALID_TAG

[2022-02-10 02:47] cwtuan commented on #177
Thanks for the report.
Fixed in `react-intl-universal@2.4.11`.

[2022-02-10 02:47] #177 closed

[2022-02-10 03:01] cwtuan commented on #176
No detail info. This would be closed.

[2022-02-10 03:01] #176 closed

[2022-02-10 03:02] #174 closed

[2022-02-10 03:38] jiangkeyuan opened #178 "Iphone SE 二代 intl.intl() 进入到 catch 里面"
手机型号:iphone se2
手机操作版本 14.3
"react-intl-universal": "^1.16.2"

intl.init({
        currentLocale: window.localeLanguage,
        locales: {
                    "en-HK": enHK,
                    "zh-CN": zhCN,
                    "zh-HK": zhHK,
                    "debug-i18n": debugI18n
                }
        })
        .then(() => {
            this.setState({initDone: true});
        }).catc

[2022-02-11 06:05] jiangkeyuan commented on #178
升级 2.4.2 解决问题。 目前排查到 大该因为 低版本 请求了 配置文件过慢 导致报错
![image](https://user-images.githubusercontent.com/40256761/153544711-b65a02ac-a6ae-454c-b4e8-0a7a08591c82.png)

[2022-02-11 06:05] #178 closed

[2022-03-07 13:21] liuyiliuyi commented on #8
@cwtuan Hi, is there any progress

[2022-03-09 02:15] cwtuan commented on #8
@liuyiliuyi
After reconsideration, I'd like to remain the current behavior for this API, because this proposal may make break changes.

[2022-04-06 01:14] kaiyoma opened #182 "Can the console-polyfill dependency be removed?"
I'm running into a problem with a project that uses this package:

[code]

Why does this package need `console-polyfill`? Browsers and Node both have a console, so the polyfill seems unnecessary. (I've never seen any other npm package use that dependency.) I cloned this project and manually removed that dependency and the build still works and I get the same pass rate for the unit tests. Can the c

[2022-04-06 11:21] cwtuan commented on #182
fixed in `react-intl-universal@2.5.0`.

[2022-04-06 11:21] #182 closed

[2022-04-06 16:55] kaiyoma opened #183 "Is this project being maintained?"
Recently, I did an overhaul of i18n in my org's large enterprise product. We were using `react-intl-universal` and I was happy to keep using it, but we ran into a number of problems and ended up switching to another library out of frustration. All of the issues that I found could have easily been avoided with a minimal amount of continual maintenance. I'm offering some feedback on my experience in

[2022-04-09 15:06] cwtuan commented on #183
Thanks for reporting this issue.

Yes, this project is still active, and it's widely used in many Alibaba production system. So don't worry.

For the issues mentioned above, are still fixing in progress. However, most of the them are caused from dependency packages which have break changes. I already filed some issues to them to ask if they could provide a way to keep compatible. This may takes so

[2022-04-20 07:48] x93008 opened #184 "React18 is not supported"
➜  react-js git:(main) ✗ npm i react-intl-universal -S
npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: react-js@1.0.7
npm ERR! Found: react@18.0.0
npm ERR! node_modules/react
npm ERR!   react@"^18.0.0" from the root project
npm ERR!
npm ERR! Could not resolve dependency:
npm ERR! peer react@"^0.14.9 || ^15.0.0 || ^16.0.0 || ^17.0.0" fro

[2022-04-20 07:48] x93008 commented on #184
"dependencies": {
    "axios": "^0.26.1",
    "qrcode.react": "^3.0.1",
    "react": "^18.0.0",
    "react-dom": "^18.0.0"
  }

[2022-04-23 03:27] cwtuan commented on #152
fixed in v2.5.3.

[2022-04-23 03:27] #152 closed

[2022-04-23 03:27] cwtuan commented on #184
fixed in v2.5.3.

[2022-04-23 03:27] #184 closed

[2022-07-18 02:31] dahuotu commented on #144
我也遇到同样的问题，在WEB浏览器中使用没有这个问题，但是打包成谷歌浏览器插件就报这个错误。一度怀疑是我的WEB3应用导致的，注释后问题依旧。

[2022-07-18 10:30] dahuotu commented on #144
出现这个问题一般是应用本地语言包路径错误导致的

[2022-07-18 10:31] dahuotu commented on #144
出现这个问题一般是应用本地语言包路径错误导致的

[2022-07-18 13:41] cwtuan commented on #144
@dahuotu
so, is the locale file `null` in your web3 app due to location issue?

[2022-07-25 01:48] dahuotu commented on #144
@cwtuan 是的，最后在每个调用组件都引用locale文件路径就正常了。

[2022-09-18 11:40] grantCHG opened #195 "Words defined before intl initialization cannot be internationalized"

[2022-09-20 13:02] cwtuan commented on #195
It's by design because `react-intl-universal` could be used in non-react component.

If you declare constants before `intl.init(...)`, the `intl.get` method is executed when js script loaded. So it can't get the locale data.
[code]

Changing constants to function will work:
[code]

[2022-09-20 13:02] #195 closed

[2022-11-02 06:10] Hexi1997 opened #205 "react-intl-universal-extract Error: Cannot find module './extract'"
version: ^1.0.4

code
[code]

nodejs version: 18.12.0

[2022-11-02 06:10] Hexi1997 commented on #205
error detail
[code]

[2022-11-02 12:31] cwtuan commented on #205
Thanks for reporting this issue.
It's fixed in `react-intl-universal-extract@1.0.6`

[2022-11-02 12:31] #205 closed

[2022-11-25 20:42] menushka opened #207 "Option to getHTML() without creating outer <span>"
Ideally I'd like to reduce the amount of DOM I have in React by not having the outer span appended.
[code]
Currently results in:
[code]
What I would prefer:
[code]
Also using an empty outer tag breaks it entirely:
[code]
[code]
I would want it to result in this:
[code]